

@media (max-width: 450px){
    .cabecalho{
        flex-direction: column;
        gap:2rem;
    }
}

@media (max-width: 972px){

    .cabecalho{
        padding-right: 0;
    }

    .cabecalho-title{
        font-size: 1.5rem;
    }

    .cabecalho-lista{
        font-size: .8rem;
        gap: 1rem;
    }

    .ola{
        flex-direction: column;
        gap: 2rem;
    }

    .ola-texto{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .ola-image{
        width: 100%;
    }

    .servicos-itens{
        flex-direction: column;
    }

    .orcamento{
        flex-direction: column;
        margin: 0;
    }

    .orcamento-imagem{
        margin: 0 0 2rem ;
        width: 80%;
    }

    .orcamento-texto{
        width: 80%;
        text-align: center;
    }

    .orcamento-texto_title{
        margin-top: 2rem;
        font-size: 2.5rem;
    }
    
    .orcamento-texto_texto{
        font-size: 1.5rem;
    }

    .formulario{
        align-items: center;
        margin-bottom: 5rem;
    }

    .formulario-campo{
        width: 100%;
    }

    .portfolio-itens{
        align-items: center;
        justify-content: center;
    }
}